<h1><%= @movie.title %></h1>
<h3>Year: <%= @movie.year %></h3>
<h3>Director: <%= @movie.director %></h3>
<h4>Plot: <%= @movie.plot %></h4>


<a href="/movies">All Movies</a>
<a href="/movies/<%= @movie.id %>/edit">Edit</a>